papermill>=2.6
nbconvert>=7.16
ipykernel>=6.29
coffea~=0.7
uproot>=5,<6
awkward>=2,<3
vector>=1.4,<2
hist>=2,<3
boost-histogram>=1.4,<2
numpy>=1.26,<2
pandas>=2.2,<3
matplotlib>=3.8,<4
scipy>=1.11,<2
correctionlib>=2,<3
tqdm>=4.64